.likeButton {
	width: 48px;
	height: 48px;
	transition: all 0.3s ease;
}

.likeIcon {
	fill: transparent;
	stroke: var(--gray-dark);
}

.liked {
	fill: var(--gray-dark);
}

.liked path {
	stroke: var(--white);
}
